DB_SERVER=golem.csse.rose-hulman.edu
DB_NAME=RoseShreddedNerds
DB_NAME_COPY=RoseShreddedNerdscopy
DB_USERNAME=
DB_PASSWORD=
DB_DRIVER={ODBC Driver 18 for SQL Server}
DB_ENCRYPT=yes
DB_TRUST_SERVER_CERTIFICATE=yes
DB_RESET_ON_START=false
